*{
    margin: 0;
    padding: 0;
    font-family:sans-serif
}

.container {
    height: 500px;
    width: 400px;
    background-color: palevioletred;
    text-align: left;
    padding: 50px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 10px;
}

.label {
    margin: 10px;
}

